<h2 mat-dialog-title>Edit Password</h2>
<mat-dialog-content>
        <div>
            <input type="password" placeholder="Password" id="password" [(ngModel)]="newPassword"
                [ngModelOptions]="{standalone: true}" required />
        </div>
        
        <div>
            <input type="password" placeholder="Confirm Password" id="confirm-password" [(ngModel)]="confirmNewPassword"
                [ngModelOptions]="{standalone: true}" required />
        </div>
    <p *ngIf="changePasswordMessage" class="success">{{ changePasswordMessage }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" (click)="changePassword()">Update</button>
</mat-dialog-actions>