<body [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">
    <div class="header">
        <h2>Sales Report for {{ salesAgent }}</h2>
        <div class="options-container">
            <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isLoading" style="display: flex;">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div class="mat-menu-item" style="padding: 12px; border-bottom: 1px solid #ccc;">
                    <mat-slide-toggle [(ngModel)]="isLensoDB" (change)="toggleDB()">
                        <span style="font-weight: 500; padding-left: 4px;">Lenso Report</span>
                    </mat-slide-toggle>
                </div>
                <button mat-menu-item class="change-password-button" (click)="openChangePasswordDialog()">
                    <mat-icon>edit</mat-icon>
                    <span>Change Password</span>
                </button>
                <button mat-menu-item class="export-pdf-button" (click)="exportToPDF()"
                    [disabled]="this.invoiceDetails.length == 0 || this.isLoading">
                    <mat-icon>upload_file</mat-icon>
                    <span>Export PDF</span>
                </button>
                <button mat-menu-item class="export-excel-button" (click)="exportToExcel()"
                    [disabled]="this.invoiceDetails.length == 0 || this.isLoading">
                    <mat-icon>upload_file</mat-icon>
                    <span>Export Excel</span>
                </button>
                <button mat-menu-item class="logout-button" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="header-container">
        <div class="filter-container">
            <mat-form-field>
                <mat-label>Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [disabled]="isLoading">
                    <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
                    <input matEndDate [(ngModel)]="endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field *ngIf="!isLensoDB">
                <mat-label>Division</mat-label>
                <mat-select [formControl]="shipInfo" multiple [value]="'all'">
                    <mat-option #allShipInfo (click)="toggleAllSelection(allShipInfo)" [value]="'all'"
                        [disabled]="shouldDisableShipInfo('all')">ALL DIVISION</mat-option>
                    <mat-option *ngFor="let shipInfo of shipInfoList" [value]="shipInfo.id"
                        [disabled]="shouldDisableShipInfo(shipInfo.id)">{{shipInfo.value}}</mat-option>
                    <mat-select-trigger>
                        {{ getSelectedShipInfoText() }}
                    </mat-select-trigger>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="salesAgent == 'KCL' && !isLensoDB">
                <mat-label>Salesman</mat-label>
                <mat-select [(ngModel)]="selectedSalesAgent" (selectionChange)="fetchDebtors()">
                    <mat-option value="KCL">KCL</mat-option>
                    <mat-option value="GBS">GBS</mat-option>
                    <mat-option value="KCH">KCH</mat-option>
                    <mat-option value="KKW">KKW</mat-option>
                    <mat-option value="YCL">YCL</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="salesAgent == 'CHL' && !isLensoDB">
                <mat-label>MOTUL Team</mat-label>
                <mat-select [(ngModel)]="selectedSalesAgent" (selectionChange)="fetchDebtors()">
                    <mat-option value="CHL">CHL</mat-option>
                    <mat-option value="HSL">HSL</mat-option>
                    <mat-option value="HYH">HYH</mat-option>
                    <mat-option value="KCY">KCY</mat-option>
                    <mat-option value="KKS">KKS</mat-option>
                    <mat-option value="LKF">LKF</mat-option>
                    <mat-option value="LVC">LVC</mat-option>
                    <mat-option value="LSS">LSS</mat-option>
                    <mat-option value="TFS">TFS</mat-option>
                    <mat-option value="TKK">TKK</mat-option>
                    <mat-option value="YAPKL">YAPKL</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="salesAgent == 'LSK'">
                <mat-label>Salesmen</mat-label>
                <mat-select [(ngModel)]="selectedSalesAgent" (selectionChange)="fetchDebtors()">
                    <mat-option value="CHK">CHK</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="CHL">CHL</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="GBS">GBS</mat-option>
                    <mat-option value="GKS">GKS</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="HSL">HSL</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="HYH">HYH</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="KCH">KCH</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="KCL">KCL</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="KCY">KCY</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="KKS">KKS</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="KKW">KKW</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="LCN">LCN</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="LHS">LHS</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="LKF">LKF</mat-option>
                    <mat-option value="LKY">LKY</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="LSS">LSS</mat-option>
                    <mat-option value="LSK">LSK</mat-option>
                    <mat-option value="LSY">LSY</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="LVC">LVC</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="LWC">LWC</mat-option>
                    <mat-option value="SKW">SKW</mat-option>
                    <mat-option value="TCH">TCH</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="TFS">TFS</mat-option>
                    <mat-option value="TKG">TKG</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="TKK">TKK</mat-option>
                    <mat-option value="WKH">WKH</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="WKW">WKW</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="YAPKL">YAPKL</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="YCL">YCL</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="YCT">YCT</mat-option>
                    <mat-option *ngIf="!isLensoDB" value="YYC">YYC</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="dealer-select-field">
                <mat-label>Dealers</mat-label>
                <mat-select [formControl]="selectedDebtor" multiple [value]="'all'">
                    <mat-option #allDebtorInfo (click)="toggleAllDebtorSelection(allDebtorInfo)" [value]="'all'">ALL
                        DEALERS</mat-option>
                    <mat-option *ngFor="let debtor of debtorList"
                        [value]="debtor.DebtorCode">{{debtor.DebtorName}}</mat-option>
                    <mat-select-trigger>
                        {{ getSelectedDebtorText() }}
                    </mat-select-trigger>
                </mat-select>
            </mat-form-field>

            <button mat-flat-button (click)="applyFilter()"
                [disabled]="selectedDebtor.value!.length == 0 || shipInfo.value!.length == 0 || !startDate || !endDate || isLoading">Filter</button>
        </div>
    </div>

    <div class="preheader-container">
        <mat-checkbox *ngIf="!isLensoDB" [(ngModel)]="showCarton" [disabled]="isLoading || showDealerSummary">Show
            Carton</mat-checkbox>
        <mat-checkbox [(ngModel)]="includeMiscItems" (change)="applyFilter()" [disabled]="isLoading">Include
            Miscellaneous Items</mat-checkbox>
        <mat-checkbox [(ngModel)]="showDivisionSummary" (change)="onDivisionSummaryChange()" [disabled]="isLoading">Show
            Division Summary</mat-checkbox>
        <mat-checkbox [(ngModel)]="showDealerSummary" (change)="onDealerSummaryChange()" [disabled]="isLoading">Show
            Dealer Summary</mat-checkbox>
    </div>

    <div class="invoice-container">
        <div *ngIf="isLoading" class="loading-container">
            <mat-spinner></mat-spinner>
        </div>

        <table *ngIf="!isLoading && invoiceDetails.length > 0" id="invoiceTable">
            <thead>
                <tr *ngIf="!showDivisionSummary && !showDealerSummary">
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'" style="width: 2%;"></th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Debtor</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'" *ngIf="listHasBranch">Branch</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Doc No</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Item Name</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Doc Date</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Qty</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">SubTotal (MYR)</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Litres</th>
                </tr>
                <tr *ngIf="showDivisionSummary">
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'" *ngIf="listHasBranch" colspan="6">Division
                    </th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'" *ngIf="!listHasBranch" colspan="5">Division
                    </th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Qty</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">SubTotal (MYR)</th>
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Litres</th>
                </tr>
                <tr *ngIf="showDealerSummary">
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Dealer</th>
                    <!-- <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Qty</th> -->
                    <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">SubTotal (MYR)</th>
                    <!-- <th [ngClass]="isLensoDB ? 'lenso-theme' : 'ks-theme'">Litres</th> -->
                </tr>
            </thead>
            <tbody *ngIf="!showDealerSummary">
                <ng-container *ngFor="let detail of invoiceDetails; let i = index">
                    <tr *ngIf="!showDivisionSummary">
                        <td
                            [ngStyle]="{'border-bottom': isNextProjNoSame(i, 0) ? '1px solid transparent' : '1px solid #ddd' }">
                            <span *ngIf="i === 0 || detail.ProjNo !== invoiceDetails[i - 1].ProjNo">{{ detail.ProjNo
                                }}</span>
                        </td>
                        <td
                            [ngStyle]="{'border-bottom': isNextDebtorSame(i, 0) ? '1px solid transparent' : '1px solid #ddd' }">
                            <span
                                *ngIf="i === 0 || detail.DebtorName !== invoiceDetails[i - 1].DebtorName || detail.ProjNo !== invoiceDetails[i - 1].ProjNo">{{
                                detail.DebtorName }}</span>
                        </td>
                        <td *ngIf="listHasBranch"
                            [ngStyle]="{'border-bottom': isNextBranchSame(i, 0) ? '1px solid transparent' : '1px solid #ddd' }">
                            <span
                                *ngIf="i === 0 || detail.BranchName !== invoiceDetails[i - 1].BranchName || detail.ProjNo !== invoiceDetails[i - 1].ProjNo">{{
                                detail.BranchName }}</span>
                        </td>
                        <td
                            [ngStyle]="{'border-bottom': isNextDocNoSame(i) ? '1px solid transparent' : '1px solid #ddd' }">
                            <span *ngIf="i === 0 || detail.DocNo !== invoiceDetails[i - 1].DocNo">{{ detail.DocNo
                                }}</span>
                        </td>
                        <td>{{ detail.Description }} <strong *ngIf="containsLAI(detail.ItemCode)">[LAI]</strong></td>
                        <td>{{ detail.DocDate | date:'dd/MM/yyyy' }}</td>
                        <td class="text-end-align"> <span class="carton-span"
                                *ngIf="detail.ProjNo[0] == 'L' && showCarton"> ({{detail.Ctn | number:'1.0-0'}} ctn)
                            </span>{{ detail.Qty
                            }}</td>
                        <td class="text-end-align">{{ detail.SubTotal.toFixed(2) | number:'1.2-2' }}</td>
                        <td class="text-end-align" *ngIf="detail.ProjNo == 'LB'">{{ detail.SmallestQty | number: '2.'}}
                        </td>
                        <td *ngIf="detail.ProjNo != 'LB'"></td>
                    </tr>

                    <!-- Show total row when the last entry for that Doc is reached -->
                    <tr *ngIf="(i === invoiceDetails.length - 1 || detail.DocNo !== invoiceDetails[i + 1].DocNo) && docLength[`${detail.DocNo}-${detail.ProjNo}`] > 1 && !showDivisionSummary"
                        class="doc-total">
                        <td
                            [ngStyle]="{'border-bottom': isNextProjNoSame(i, 1) ? '1px solid transparent' : '1px solid #ddd' }">
                        </td>
                        <td
                            [ngStyle]="{'border-bottom': isNextDebtorSame(i, 1) ? '1px solid transparent' : '1px solid #ddd' }">
                        </td>
                        <td *ngIf="listHasBranch"
                            [ngStyle]="{'border-bottom': isNextBranchSame(i, 1) ? '1px solid transparent' : '1px solid #ddd' }">
                        </td>
                        <td colspan="3" class="text-right"><strong>{{ detail.DocNo }} Total</strong></td>
                        <td class="text-end-align">
                            <strong>
                                <span class="carton-span" *ngIf="detail.ProjNo[0] == 'L' && showCarton">
                                    ({{docCtnTotals[`${detail.DocNo}-${detail.ProjNo}`] | number:'1.0-0'}} ctn) </span>
                                {{ docQtyTotals[`${detail.DocNo}-${detail.ProjNo}`] }}
                            </strong>
                        </td>
                        <td class="text-end-align"><strong>{{
                                docSubTotals[`${detail.DocNo}-${detail.ProjNo}`].toFixed(2) | number:'1.2-2'}}</strong>
                        </td>
                        <td class="text-end-align" *ngIf="detail.ProjNo == 'LB'"><strong>{{
                                docLitreTotals[`${detail.DocNo}-${detail.ProjNo}`]
                                }}</strong></td>
                        <td *ngIf="detail.ProjNo != 'LB'"></td>
                    </tr>

                    <!-- Show total row when the last entry for that Branch is reached -->
                    <tr *ngIf="listHasBranch && ((i === invoiceDetails.length - 1 || detail.BranchName !== invoiceDetails[i + 1].BranchName) && branchLength[`${detail.BranchName}-${detail.ProjNo}`] > 1) && !showDivisionSummary"
                        class="branch-total">
                        <td
                            [ngStyle]="{'border-bottom': isNextProjNoSame(i, 2) ? '1px solid transparent' : '1px solid #ddd' }">
                        </td>
                        <td
                            [ngStyle]="{'border-bottom': isNextDebtorSame(i, 2) ? '1px solid transparent' : '1px solid #ddd' }">
                        </td>
                        <td colspan="4"><strong>{{ detail.BranchName }} Total</strong></td>
                        <td class="text-end-align"><strong>
                                <span class="carton-span" *ngIf="detail.ProjNo[0] == 'L' && showCarton">
                                    ({{ branchTotals[`${detail.BranchName}-${detail.ProjNo}`].Ctn | number:'1.0-0'}} ctn)
                                </span>
                                {{ branchTotals[detail.BranchName + '-' + detail.ProjNo].Qty }}</strong></td>
                        <td class="text-end-align"><strong>{{ branchTotals[detail.BranchName + '-' +
                                detail.ProjNo].SubTotal.toFixed(2) | number: '2.' }}</strong></td>
                        <td class="text-end-align" *ngIf="detail.ProjNo === 'LB'"><strong>{{
                                branchTotals[detail.BranchName + '-' + detail.ProjNo].Litres.toFixed(0) | number: '2.'
                                }}</strong>
                        </td>
                        <td *ngIf="detail.ProjNo !== 'LB'"></td>
                    </tr>

                    <!-- Show total row when the last entry for that Debtor is reached -->
                    <tr *ngIf="(i === invoiceDetails.length - 1 || detail.DebtorName !== invoiceDetails[i + 1].DebtorName || detail.ProjNo !== invoiceDetails[i + 1].ProjNo) && debtorLength[detail.DebtorName + '-' + detail.ProjNo] > 1 && !showDivisionSummary"
                        class="debtor-total">
                        <td
                            [ngStyle]="{'border-bottom': isNextProjNoSame(i, 3) ? '1px solid transparent' : '1px solid #ddd' }">
                        </td>
                        <td *ngIf="listHasBranch" colspan="5" class="text-right"><strong>{{ detail.DebtorName }}
                                Total</strong></td>
                        <td *ngIf="!listHasBranch" colspan="4" class="text-right"><strong>{{ detail.DebtorName }}
                                Total</strong></td>
                        <td class="text-end-align"><strong>
                                <span class="carton-span" *ngIf="detail.ProjNo[0] == 'L' && showCarton"> ({{
                                    debtorTotals[detail.DebtorName + '-' + detail.ProjNo].Ctn | number:'1.0-0'}} ctn)
                                </span>
                                {{ debtorTotals[detail.DebtorName + '-' + detail.ProjNo].Qty }}</strong></td>
                        <td class="text-end-align"><strong>{{ debtorTotals[detail.DebtorName + '-' +
                                detail.ProjNo].SubTotal.toFixed(2) | number:'1.2-2' }}</strong></td>
                        <td class="text-end-align" *ngIf="detail.ProjNo === 'LB'"><strong>{{
                                debtorTotals[detail.DebtorName + '-' + detail.ProjNo].Litres.toFixed(0) | number: '2.'
                                }}</strong>
                        </td>
                        <td *ngIf="detail.ProjNo !== 'LB'"></td>
                    </tr>

                    <!-- Show total row when the last entry for that ProjNo is reached -->
                    <tr *ngIf="(showDivisionSummary && (i === invoiceDetails.length - 1 || detail.ProjNo !== invoiceDetails[i + 1].ProjNo)) || ((i === invoiceDetails.length - 1 || detail.ProjNo !== invoiceDetails[i + 1].ProjNo) && shipInfoLength[detail.ProjNo] > 1 && !showDivisionSummary)"
                        class="shipinfo-total">
                        <td *ngIf="listHasBranch" colspan="6" class="text-right"><strong>{{ detail.ProjNo }}
                                Total</strong></td>
                        <td *ngIf="!listHasBranch" colspan="5" class="text-right"><strong>{{ detail.ProjNo }}
                                Total</strong></td>
                        <td class="text-end-align">
                            <strong>
                                <span class="carton-span" *ngIf="detail.ProjNo[0] == 'L' && showCarton"> ({{
                                    shipInfoCtnTotals[detail.ProjNo]
                                    || 0 }} ctn) </span>
                                {{ shipInfoQtyTotals[detail.ProjNo] }}
                            </strong>
                        </td>
                        <td class="text-end-align"><strong>{{ shipInfoTotals[detail.ProjNo].toFixed(2) | number:'1.2-2'
                                }}</strong>
                        </td>
                        <td class="text-end-align" *ngIf="detail.ProjNo == 'LB'"><strong>{{
                                shipInfoLitreTotals[detail.ProjNo].toFixed(0) | number: '2.' }}</strong></td>
                        <td *ngIf="detail.ProjNo != 'LB'"></td>
                    </tr>
                </ng-container>
            </tbody>
            <tbody *ngIf="showDealerSummary">
                <ng-container *ngFor="let detail of debtorSummaryTotals | keyvalue; let i = index">
                    <tr class="debtor-total">
                        <td class="text-right"><strong>{{ detail.value.DebtorName }}</strong></td>
                        <td class="text-end-align"><strong>{{ detail.value.SubTotal.toFixed(2) | number:'1.2-2'
                                }}</strong></td>
                </ng-container>
            </tbody>
            <tfoot *ngIf="invoiceDetails.length > 0 && showDealerSummary">
                <tr class="grand-total">
                    <td class="text-right"><strong>Grand Total</strong></td>
                    <td class="text-end-align"><strong>{{ grandSubTotal.toFixed(2) | number:'1.2-2' }}</strong></td>
                </tr>
            </tfoot>
            <tfoot *ngIf="invoiceDetails.length > 0 && !showDealerSummary">
                <tr class="grand-total">
                    <td *ngIf="listHasBranch" colspan="6" class="text-right"><strong>Grand Total</strong></td>
                    <td *ngIf="!listHasBranch" colspan="5" class="text-right"><strong>Grand Total</strong></td>
                    <td class="text-end-align"><strong>{{ grandQtyTotal }}</strong></td>
                    <td class="text-end-align"><strong>{{ grandSubTotal.toFixed(2) | number:'1.2-2' }}</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div *ngIf="!isLoading && invoiceDetails.length === 0" class="no-sales-found">
            <div>
                <img src="../../../assets/img/empty-box.png" width="200px">
                <p class="no-invoice-message">No invoice details found.</p>
            </div>
        </div>
    </div>
</body>