@media only screen and (min-width: 601px) {
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    .preheader-container {
        padding: 8px;
        margin: 0;
        display: flex;
        gap: 32px;
    }

    .filter-container {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .invoice-container {
        width: 100vw;
        overflow-x: scroll;
    }

    table {
        width: 1000px;
        border-collapse: collapse;
        font-size: 16px;
    }

    .preheader-container {
        padding: 8px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 28px;
    }

    .filter-container {
        display: grid;
        justify-content: start;
        align-items: center;
        column-gap: 20px;
        width: 100%;

        mat-form-field {
            width: 90vw;
        }
    }
}

.header {
    h2 {
        margin: 0;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    padding: 8px;
}

.carton-span {
    font-size: 12px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 8px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #005cbb;
    color: white;
}

.loading-container,
.no-invoice-message {
    text-align: center;
    margin-top: 28vh;
}

.loading-gif {
    width: 10rem;
    object-fit: cover;
}

.text-end-align {
    text-align: end;
}