<div class="body-container">
    <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="login()">
            <div>
                <input type="text" placeholder="Username" id="username" [(ngModel)]="username"
                    [ngModelOptions]="{standalone: true}" required />
            </div>

            <div>
                <input type="password" placeholder="Password" id="password" [(ngModel)]="password"
                    [ngModelOptions]="{standalone: true}" required />
            </div>

            <button type="submit">Login</button>
        </form>

        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
</div>